aoc1.xcodeproj/project.xcworkspace/xcuserdata/jeremy.xcuserdatad/UserInterfaceState.xcuserstate
aoc1.xcodeproj/xcuserdata/jeremy.xcuserdatad/xcschemes/aoc1.xcscheme
aoc1.xcodeproj/xcuserdata/jeremy.xcuserdatad/xcschemes/xcschememanagement.plist